#team {
	.team-member {
		margin-bottom: 40px;

		figure {
			margin-bottom: 20px;

			img {
				border-radius: 50%;
			}

			figcaption {
				font-size: 18px;
				font-weight: 800;
				margin-top: 20px;
			}
		}
		
		
	}


}
