@media all and (max-width: 991px) {
    #main-nav, #main-nav.scrolled {
        background-color: #fff;
        text-align: center;
        border-bottom: 1px solid #0ed8d6;
    }

    #main-nav a#logo, #main-nav a, #main-nav.scrolled a {
        color: #333333;
    }

    #main-nav a#logo:hover, #main-nav a:hover, #main-nav.scrolled a:hover {
        color: #0ed8d6;
    }

    section {
        padding: 80px 30px;
    }

    section h3 {
        font-size: 20px;
    }
}

@media all and (max-width: 768px) {
    .btn {
        margin: 15px auto;
        padding: 10px 20px;
        font-size: 14px;
    }

    body {
        font-size: 14px;
    }

    #main-header .header-inner h1 {
        font-size: 28px;
    }

    #main-header .header-inner h2 {
        font-size: 18px;
    }

    #team .team-member {
        margin-bottom: 60px;
    }

    #contact form textarea {
        margin-top: 30px;
    }
}
